@charset "utf-8";
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px; letter-spacing: -0.5px;
    overflow-x: hidden;
    /* z-index: 1 */
   }


.w98{width: 980px;margin: 0 auto;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mr20{margin-right: 20px;}

/* header */


.hTopWp{background: #0763a2 url(../images/topbg01.jpg) no-repeat center ;}
.hTop{ position: relative;height: 90px;}

.hTop{display: flex; justify-content:space-between;align-items: center;}

.hTop h1{width: 160px;height: 50px; }

/* .search{width: 100px;height: 35px; border-radius: 17px; background: white;
 display:flex;justify-content: center;align-items: center; }  */
 
    .searchWp{position: relative;  }
        .searchInp{width: 300px;height: 35px; border-radius: 17px;
            text-indent: 90px; border: 1px solid white;           }
                        
        .searchTitle{
        display: block;position: absolute;
        width: 60px;height: 20px;
        background: url(../images/searchtext.jpg);
        text-indent: -9999px;
        top: 50%;  transform:translateY(-50%) ; 
                  left: 20px;    }
        .searchIcn{
        position: absolute;right: 10px;
        top: 50%; transform:translateY(-50%) ;
        width: 30px;height: 30px;
        border: 1px solid white;
       text-indent: -9999px;
        background: url(../images/searchicon.jpg) no-repeat center;}
          
       input[type="text"]:focus{outline: none;}
   

.snsMenu {width: 310px;height: 30px; }
/* .snsMenu span{float: left;width: 220px;} */
.snsMenu>ul>li{ float: left; width: calc( 160px / 5 ) ;}
.snsMenu>ul>li:first-child{width: 170px; background-color: orange;text-align: center;}
.snsMenu>ul>li:first-child>a{line-height: 30px; font-size: 18px; color: white;}

.gnbWp{border-bottom: 5px solid #0E73A7}
.gnb li{float: left; width: calc( 100%/ 6 ) ;height: 60px;line-height: 66px;
        border-left: 2px solid #eee;  }
     
.gnb li:last-child{border-right: 2px solid #eee;}
.gnb li>a{font-size: 16px;font-weight: bold;color: #1A2B34;
    display: block; text-align: center;}
.gnb li>a:hover{background-color: purple;color: white; }  



/* .contents */

.contents{background : url(../images/bgsky.jpg) no-repeat center;
    background-size: cover; padding-top: 66px; 
    /* height: 100vh} */
    }

 .main{height: 1080px; position: relative; z-index:1  }

 /* .main div{background-color: beige } */
 

.mainTop{position: relative;  z-index: 1}

.mainTxt{float: right;width: 480px;padding: 20px;color: #14252D ;position: relative; z-index:1 }
.mainTxt>h1{font-size: 65px; letter-spacing: -2px;
            position: relative;}
.mainTxt>h1:after{width: 80px;height: 5px;background-color: #14252D;
                    position: absolute;top: 70px;right: 118px;
                content: "";display: block;}
.mainTxt>p{font-size: 25px;font-weight: bold;line-height: 30px;}
.mainTxt span {font-style: italic;}


/* balloon */
.bgbal{position: absolute;top: 10px;right: -100px;height: 600px;
    animation-name: bgbal;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;}
     
  @keyframes bgbal{ 
                    to{top: 100px;}
                   }
 
.air{ position: absolute;bottom:-200px;left:-200px;
        animation-name: air;
        animation-duration: 15s; animation-fill-mode: forwards;
        animation-iteration-count: infinite; animation-timing-function: linear;
                }
  @keyframes air{
            from{transform: scale(0.5);}
            to{bottom: 1400px;left: 2000px;transform: scale(1.5)} }


.air3{ position: absolute;bottom: -200px;right: 50px;
    animation-name: air3;
    animation-duration: 15s; animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
        }
@keyframes air3{ 
    to{bottom: 200px;right: 2000px;} }




/* booking form */

.mtLeft{float: left; width: 485px;position: relative; z-index: 1; }
.sliderWrap{width: 485px; background-color:yellowgreen }

 /* booking menu_pager */
.sliderPager{width: 150px;float: left;}
.bxPager a{ display: block;
                    width: 150px; height: 75px; 
                    background-color: #00497C; color: white;
                   display: flex;justify-content: center; align-items: center;  
                    }
.bxPager i{font-size: 17px;}
 .sliderPager .bxPager a.active{background-color:#0099CB ; }
 .sliderPager .bxPager a:hover{background-color: white; color:#444}
 .sliderPager .bxPager a:hover i {color:#00497C; }

 


 /* booking form */
.bx-wrapper { -moz-box-shadow: none;    -webkit-box-shadow: none;
            box-shadow: none;border: 0 none;    margin-bottom: 0;}
.bx-wrapper {width: 335px;height: 300px; float: left;background-color:white;
           padding-top: 20px;
        }

               /* .sliderSkin{width: 335px;height: 300px; float: left;  } */
.slider{ padding: 25px 25px 0; float: left; }
.form{width: 280px;  height: 300px; margin-top: 30px;}

fieldset{border: 0;}
.blind{display: block;position: absolute;left: 0;top: -9999px;}


.form label{display: block;padding: 5px 0; font-weight: bold; color: #444;}
.form select{width: 100%;height: 35px; font-size: 1em;color: #777;
    border-radius: 5px;text-indent: 10px;border: 1px solid #999; }

.form .left,.form .right{width: 135px;float: left;}
.form .left{margin-right: 10px;}

.form .left input,.form .right input
    { width: 100%;height: 35px;font-size: 1em;color: #777;
        border-radius: 5px; border: 1px solid #999; text-indent: 5px }

.form .right li{width: 62px;float: left; }  
.form .right li:first-child{margin-right: 10px; }  

.form .right li input{text-indent: 10px;}

.btnSubmit{ width: 100%;height: 40px; text-indent: -9999px; 
            background: url(../images/btnSubmit.png ) no-repeat center; 
            border: 0; cursor: pointer;  }

  
 
 /* main1 .slider 2세트  **************************************************/

.main1 li{float: left; width: 235px;margin-right: 15px;}





.main2 { position: relative; z-index: 1;}
                  /* 메인탑에있는 풍선이 메인2에도 걸려서 움직임 */
.main2 li,.main3 li {float: left; width: calc((100% - 45px) / 4); 
                    height: 240px; margin-right: 15px;
                        } 
.main li:last-child{margin-right: 0;}

.main2 .box{width: 235px;height: 65px;position: absolute;bottom: 0;
    color: white;padding: 15px 20px;}
.main2 li:nth-child(1) .box{background: #529351 }
.main2 li:nth-child(2) .box{background: #152630  }
.main2 li:nth-child(3) .box{background: #152630 ;opacity: 0.7; }
.main2 li:nth-child(4) .box{background: #44619D}
 
.main2 i{color:gold;}
.main2 i:last-child{color:white;}






.main3 li{float: left; position: relative;} 

.main3 .txt{position: absolute;top: 20px;left: 30px;
    text-align: center; color: white} 
.main3 h2 {font-size: 18px;font-weight: bold;}
.main3 .bg{width: 100%;height: 100%; position: absolute;top: 0;
            background: rgb(29, 29, 51);
            opacity:0 ;transition:0.3s }  
         
 .main3 li:hover .bg{opacity:0.8}  
                          
 .main3 .circle{position: absolute;
    width: 35px;height: 35px; 
    left:50%;top:50%;transform:translate(-50%,-50%);
    transition:0.3s;border: 3px solid #fff;
    border-radius:50%}

.circle .bar1,
.circle .bar2{
        width: 22px;height: 3px;background: #fff;position: absolute;
        border-radius:2px;left: 50%;top: 50%;
        transform:translate(-50%,-50%)}

.circle .bar1{transform:translate(-50%,-50%) rotate(90deg)}

.main3 li:hover { box-shadow:0 15px 15px lightseagreen;}
                    /* transform:scale(1.1)}*/
                
.main3 li:hover .circle{ transform:translate(-50%,-50%) rotate(180deg)} 
.main3 li:hover .txt{transform: translateY(130px); }  










.fMenu>ul>li{float: left;}
.fMenu>ul>li>a{display: block;text-align: center;line-height: 14px;
    padding: 0 15px;  ;color: #444;
    font-weight: bold;}
.fMenu>ul>li:first-child>a{padding-left: 0; text-align: left !important }
.fMenu>ul>li:last-child>a{border-right: none;}
.fMenu>ul>li>a:hover{color: navy }  
.info{color: gray;font-size: 13px;line-height: 18px;}
.info p {margin-bottom: 5px;}




