@charset "utf-8";
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}
/* header */
.w98{width: 980px;margin: 0 auto;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mr20{margin-right: 20px;}



.hTopWp{background: #0763a2 url(../images/topbg01.jpg) no-repeat center ;}
.hTop{ position: relative;height: 90px;}

.hTop{display: flex; justify-content:space-between;align-items: center;
}
h1{width: 160px;height: 50px; }
.search{width: 300px;height: 35px; border-radius: 17px; background: white;
 display:flex;justify-content: center;align-items: center; } */

.snsMenu{width: 125px;height: 30px; background: white;}
.snsMenu>ul>li{ float: left; width: calc( 100% / 4 ) ;}

.gnbWp{border-bottom: 5px solid #0E73A7}
.gnb li{float: left; width: calc( 100%/ 6 ) ;height: 66px;line-height: 66px;
    ; border-left: 2px solid #eee;  }
     
.gnb li:last-child{border-right: 2px solid #eee;}
.gnb li>a{font-size: 16px;font-weight: bold;color: #1A2B34;
    display: block; text-align: center;}
.gnb li>a:hover{background-color: purple;color: white; }  






 .container{height: 300px;}    

/* contents     */
/* .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;}
.bx-wrapper .bx-pager{ bottom: 30px;}
.bx-wrapper .bx-pager.bx-default-pager a.active{background: blue;} */
    
        
/* 

.contents{
   height: 1300px;   
   min-width: 1200px;
    background-color: gray;
    background-image: url(../images/bg_dot.gif),url(../images/main_bg.jpg);
     
    background-repeat: repeat,no-repeat ;
    background-position: center;
    background-size:auto,cover;
    padding-top: 75px;
    }

    .contents .title
    .titleTxt
             
    .container
    .container>ul>li{float: left;width: 25%;height: 240px;}
        .sliderTxt{position: absolute;top: 60px;left: 80px; }
        .sliderTxt p{font-size: 50px;line-height: 60px; margin-bottom: 20px; color:#1651B7 }
    
    .container>ul>li:nth-child(8) .bx-pager{top: 30px; right: 20px;width: 150px;}
    .container>ul>li:nth-child(8) .bx-pager.bx-default-pager a.active{background: #DE2120;}

    */



.fMenu>ul>li{float: left;margin-bottom: 20px;}
.fMenu>ul>li>a{display: block;text-align: center;;line-height: 14px;
    padding: 0 15px; border-right: 1px solid gray ;color: #666;
    font-weight: bold;}
.fMenu>ul>li:first-child>a{padding-left: 0; text-align: left !important }
.fMenu>ul>li:last-child>a{border-right: none;}
.fMenu>ul>li>a:hover{background-color: purple;color: white; }  
.info{color: gray;font-size: 13px;line-height: 18px;}
.info p {margin-bottom: 5px;}




