@charset "utf-8";
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px; letter-spacing: -0.5px;
    }


.w98{width: 980px;margin: 0 auto;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mr20{margin-right: 20px;}

/* header */


.hTopWp{background: #0763a2 url(../images/topbg01.jpg) no-repeat center ;}
.hTop{ position: relative;height: 90px;}

.hTop{display: flex; justify-content:space-between;align-items: center;}

.hTop h1{width: 160px;height: 50px; }

/* .search{width: 100px;height: 35px; border-radius: 17px; background: white;
 display:flex;justify-content: center;align-items: center; }  */
 
    .searchWp{position: relative;  }
        .searchInp{width: 300px;height: 35px; border-radius: 17px;
            text-indent: 90px; border: 1px solid white;           }
                        
        .searchTitle{
        display: block;position: absolute;
        width: 60px;height: 20px;
        background: url(../images/searchtext.jpg);
        text-indent: -9999px;
        top: 50%;  transform:translateY(-50%) ; 
                  left: 20px;    }
        .searchIcn{
        position: absolute;right: 10px;
        top: 50%; transform:translateY(-50%) ;
        width: 30px;height: 30px;
        border: 1px solid white;
       text-indent: -9999px;
        background: url(../images/searchicon.jpg) no-repeat center;}
          
       input[type="text"]:focus{outline: none;}
   

.snsMenu {width: 310px;height: 30px; }
/* .snsMenu span{float: left;width: 220px;} */
.snsMenu>ul>li{ float: left; width: calc( 160px / 5 ) ;}
.snsMenu>ul>li:first-child{width: 170px; background-color: orange;text-align: center;}
.snsMenu>ul>li:first-child>a{line-height: 30px; font-size: 18px; color: white;}

.gnbWp{border-bottom: 5px solid #0E73A7}
.gnb li{float: left; width: calc( 100%/ 6 ) ;height: 60px;line-height: 66px;
        border-left: 2px solid #eee;  }
     
.gnb li:last-child{border-right: 2px solid #eee;}
.gnb li>a{font-size: 16px;font-weight: bold;color: #1A2B34;
    display: block; text-align: center;}
.gnb li>a:hover{background-color: purple;color: white; }  


.contents{background : url(../images/bgsky.jpg); no-repeat center;
    background-size: cover; padding-top: 66px;
   }
    /* height: 100vh} */
 .main{height: 1080px; ;}

 .main div{background-color: beige }
 
 /* .mainTop{height: 555px; background: url(../images/bgbal.png) no-repeat ;background-position:right bottom ;  }  */
 
 
 
 
 /* 
 폼양식  지앤비 메뉴 빨강
 풍선배경 풍선애니 비행기애니 */

 
.mainTxt{float: right;width: 480px;padding: 20px;color: #14252D}
.mainTxt>h1{font-size: 65px; letter-spacing: -2px;
            position: relative;}
.mainTxt>h1:after{width: 80px;height: 5px;background-color: #14252D;
                    position: absolute;top: 70px;right: 118px;
                content: "";display: block;}
.mainTxt>p{font-size: 25px;font-weight: bold;line-height: 30px;}
.mainTxt span {font-style: italic;}




.mtLeft{float: left; width: 485px; }

.formWp{width: 485px;height: 300px; background-color: pink !important}
.formMenu{width: 130px;height: 300px; }
.formMenu li{height: 75px;background-color: navy;line-height: 30px;padding: 22px;}
            /* display: flex;justify-content: center;align-items: center;} */
.formMenu li>a{color: white;}
.formMenu img{float: left;width: 27px;margin-right: 5px;}
.formMenu li>p{float: left;background: yellow;}

 .main1 li{float: left; width: 235px;margin-right: 15px;}






 /* .main1,.main2,.main3{height: 240px;}   */
 .main2 li,.main3 li {float: left; width: calc((100% - 45px) / 4); margin-right: 15px;} 
 /* .main1 li:last-child,.main2 li:last-child,.main3 li:last-child 
               {margin-right: 0;} */
.main li:last-child{margin-right: 0;}


/* contents     */
/* .bx-wrapper { -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;border: 0 none;
                margin-bottom: 0;}
.bx-wrapper .bx-pager{ bottom: 30px;}
.bx-wrapper .bx-pager.bx-default-pager a.active{background: blue;} */
        
/* 

/*    .contents .title
    .titleTxt
             
    .container
    .container>ul>li{float: left;width: 25%;height: 240px;}
        .sliderTxt{position: absolute;top: 60px;left: 80px; }
        .sliderTxt p{font-size: 50px;line-height: 60px; margin-bottom: 20px; color:#1651B7 }
    
    .container>ul>li:nth-child(8) .bx-pager{top: 30px; right: 20px;width: 150px;}
    .container>ul>li:nth-child(8) .bx-pager.bx-default-pager a.active{background: #DE2120;}

    */



.fMenu>ul>li{float: left;}
.fMenu>ul>li>a{display: block;text-align: center;line-height: 14px;
    padding: 0 15px;  ;color: #444;
    font-weight: bold;}
.fMenu>ul>li:first-child>a{padding-left: 0; text-align: left !important }
.fMenu>ul>li:last-child>a{border-right: none;}
.fMenu>ul>li>a:hover{color: navy }  
.info{color: gray;font-size: 13px;line-height: 18px;}
.info p {margin-bottom: 5px;}




