@charset "utf-8";
html,body{height: 100%;}
body{
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-size: 14px; 
    /* letter-spacing: -0.5px;
    overflow-x: hidden;
    min-width: 980px;  */
     }

.w12{width: 1240px;margin: 0 auto;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb50{margin-bottom: 50px;}





.bx-wrapper { -moz-box-shadow: none; -webkit-box-shadow: none;
    box-shadow: none;border: 0 none; margin-bottom: 0;}

 .sliderWrap .sdrImg1{background-image: url(../images/main11.png); } 
 .sliderWrap .sdrImg2{background-image: url(../images/main12.png); } 
 .sliderWrap .sdrImg3{background-image: url(../images/main13.png); } 



 
.sliderWrap .slideTxt{position: absolute;left: 50%;top: 35%;
        transform: translate(-50%, -50%);width: 800px;text-align: center;
        color: white;}
.sliderWrap .slideTxt h1 {font-size: 40px;}
.sliderWrap .slideTxt h2{font-size: 30px;line-height: 60px;}
.sliderWrap .slideTxt h2:after{width: 250px;height: 5px;background:#EF8A13;
    content: "";display: block;margin: 0 auto;
    /* position: absolute; left: 50%;transform: translate(-50%, -50%) */
}




.sliderWrap .bx-wrapper .bx-pager.bx-default-pager a
                { background: white;transition: 0.3s;}
.sliderWrap .bx-wrapper .bx-pager.bx-default-pager a.active
      { background: orangered ; }
.sliderWrap .bx-wrapper .bx-pager.bx-default-pager a:hover
     { background:  darkcyan;}




/* header contents---------------------------------- */

.contents>ul>li{float: left;width: 25%;height: 310px;background: wheat;
  display: flex; justify-content: center;   align-items: center; transition: 0.3s;
               /* flex-direction: column; */}

.contents>ul>li>a{color: white;text-align: center;}
.contents>ul>li>a>p{font-size: 18px;font-weight: bold;}
.contents>ul>.icn:hover>a{transform:scale(1.1);}                




/* 1457910 */
.contents>ul>li:nth-child(1){background: #6b97f7;}
 
.contents>ul>li:nth-child(2){background: url(../images/maincell1.png);}
.contents>ul>li:nth-child(2) img{width: 90px;height: 90px;}

.contents>ul>li:nth-child(3){width: 50%;}
.contents>ul>li:nth-child(4){background: #2926A6;}
.contents>ul>li:nth-child(5){background: #0B0D33;}



.contents>ul>li:nth-child(6){width: 50%;}
.contents>ul>li:nth-child(7){background: #EF8A13;}
.contents>ul>li:nth-child(8){width: 50%;}
.contents>ul>li:nth-child(9){background: #06929A; }

.contents>ul>li:nth-child(10){background: #06929A;}
.contents>ul>li:nth-child(11){background: #324473;}
.contents>ul>li:nth-child(12){width: 50%; position: relative;  }
.contents>ul>li:nth-child(12)>a>p{position: absolute;top: 30px;left: 30px;text-align: left;}


.slider2Wrap{position: relative;overflow: hidden;}
.slider2Wrap .s2list{height: 310px;}
.slider2Wrap .s2list div{float: left;height: 100%;}
.slider2Wrap .s2list div.left{
    width: 50%;background: white;
    padding: 50px; padding-top: 80px;
    position: relative; color: #444  }
.slider2Wrap .s2list div.left:after{
    content: "";display: block;
    border-width: 30px;border-color:transparent transparent transparent white;
    border-style: solid;width: 60px;box-sizing: border-box;
    position: absolute;right: -60px;top: calc( 50% - 30px);
}

.slider2Wrap .s2list div.right{width: 50%;}
.slider2Wrap h2 {position: absolute;top: 40px;left: 50px;color: #444;}
.slider2Wrap .btn{
        position: absolute;right: 40px;bottom: 40px;
        display: flex;}
.right img{width: 100%;}



/* main1 teacher ver------------- */


.container{
    /* background: url(../images/contentsbg01.jpg) no-repeat center fixed; */
    background: url(../images/mainbg.png) no-repeat center fixed;
    background-size: cover;height: 700px;
    padding: 60px 0;
}
.container .section{width: 1240px;margin: 0 auto;color:white;}
.container .section h4{text-align: center;}
.container .section h4:after{
    content:"";display: block;width: 50px;height: 1px;background: #fff;
    margin: 10px auto;
}
.container .section>p{text-align: center;font-size: 2em;margin-bottom: 2em;}
.container .vision>li{float: left;width: calc( ( 100% - 60px ) / 4 );margin-right: 20px;}
.container .vision>li:last-child{margin-right:0;}

.container .vision>li{padding:60px 30px ;
         /* background:orange; border-radius: 10px; border: 5px solid #ddd; */
                 transition: 0.3s;              
                }

/* .container .vision>li>a>img{margin: 0 auto;margin-bottom: 30px;} */
.container .card img{margin: 0 auto;margin-bottom: 20px;}
.container .vision>li .card_body{padding: 5px;text-align: center;color:#91C1D4;}
.container .vision>li .card_body h3{margin-bottom: 15px;}

.container .vision>li:hover{
             box-shadow: 5px 5px 10px rgba(56, 82, 83, 0.9);;
                        transform:translate(0,-15px);}
                                     


 /* main2 start  /main1은 교체 container tcher vs */
 

 .main2>ul>li{width: 25%; height: 310px; float: left; }
 .liTxt{ text-align: left; padding: 40px;color: rgb(67, 61, 58);line-height: 20px; }

 /* .liTxt> h3{font-weight: bold; } */
 .main2>ul>li>a>img{width: 100%;}

.guide>li, .friends>li{background: #a8adc2; position: relative;}
.guide>li>a>p, .friends>li>a>p { position: absolute; top: 20px; left: 25px; color: white; }
.main2 .bg {width: 100%;height: 100%; position: absolute;top: 0;
    background: rgb(37, 37, 131);
    opacity:0 ;transition:0.3s }  
 
.main2 li:hover .bg{opacity:0.8} 

.main2 .circle{position: absolute;
    width: 35px;height: 35px; 
    left:50%;top:50%;transform:translate(-50%,-50%);
    transition:0.3s;border: 3px solid #fff;
    border-radius:50%}

.circle .bar1,
.circle .bar2{
        width: 22px;height: 3px;background: #fff;position: absolute;
        border-radius:2px;left: 50%;top: 50%;
        transform:translate(-50%,-50%)}
.circle .bar1{transform:translate(-50%,-50%) rotate(90deg)}
/* .circle{display: none;} */
/* .main2 li:hover .circle{ display: block;}  */

.main2 li:hover .circle{ transform:translate(-50%,-50%) rotate(180deg)} 
/* .modal{width: 800px;height: 450px;} */

.main3>ul>li{float: left;}

/* .friends>li{background: #C1CEAC ;position: relative;} .guide li{background: #7a86b5;} */
/* .friends li{background: #A1AC90;} */






 /* subage common ------------   */
 
 #subHeader{height: 700px;margin-bottom: 70px;width: 100%}
 
 .subBg01 {background: url(../images/bgsub1.png) no-repeat center; height: 700px;background-size: cover;position: relative;}
 .subBg02 {background: url(../images/bgsub2.png) no-repeat center; height: 700px;background-size: cover;position: relative;}
 /* .subBg02 {background: url(../images/bgsub9.png) no-repeat center; height: 700px;background-size: cover;position: relative;} */
 .subBg03 {background: url(../images/bgsub3.png) no-repeat center; height: 700px;background-size: cover;position: relative;}
 .subBg04 {background: url(../images/bgsub4.png) no-repeat center; height: 700px;background-size: cover;position: relative;}
 .subBg05 {background: url(../images/bgsub5.png) no-repeat center; height: 700px;background-size: cover;position: relative;}
 /* .subBg05 {background: url(../images/bgsub11.png) no-repeat center; height: 700px;background-size: cover;position: relative;} */
 .subBg06 {background: url(../images/bgsub8.png) no-repeat center; height: 700px;background-size: cover;position: relative;}




 .subTitle{position: absolute;left: 50%;top: 48%;
    transform: translate(-50%, -50%);width: 800px;text-align: center;
    color: white;}
.subTitle h1{font-size: 35px;}
.subTitle h1:after{width: 200px;height: 4px;background:#EF8A13;
    content: "";display: block; margin: 0 auto; margin-top: 5px;}





.subMenu li.on{background : #06929A;}
.conArea img{display: none;width: 90%; margin: 0 auto;}
.conArea img:first-child{display: block;}


.subMain{margin-bottom: 100px;}
/* .subMain>h1{text-align: center;_margin-bottom: 100px;} */
/* .subMain img{margin: 70px auto;} */


.loMenu li{float: left;margin-right:5px}
.loMenu li a{color: #888;}
.loMenu li:hover a{ color: #06929A}


                        


/* pc @media start */
@media screen and (min-width:700px){

#header{height: 1930px; _background: #ddd;position: relative;
    margin-bottom: 50px;    }


/* .hWrap{width: 1240px;height: 450px; color: yellow; 
    position: absolute;top: 0;   z-index: 20;} */

/* #headerTop.logo:hover,  */
 /* .gnb>ul:hover .hWrap{top: 40px;} */
/* #headerTop .logo:hover #header .hWrap{top: 40px;}  */



#headerTop
        {width: 100%; height: 240px;  z-index: 1;
            /* width: 1240px;  */
          position: fixed;left: 50%; transform: translateX(-50%); top: 20px;
        /* display: flex;justify-content: space-between;align-items: center; */
        _background: skyblue;}


/* #headerTop .logo{height: 50px;width: 340px; } */

#headerTop> h1{display: none;}



#headerTop .gnb{_background: #11357A ; _border-bottom: 1px solid #999;
    position: fixed; 
    /* left: 50%;transform: translateX(-50%); */ 
                 }
#headerTop .gnb>ul>li{float: left; position: relative; height: 50px;
                    width: calc( (100% - 360px) / 6); padding: 10px 0 }
                    
 #headerTop .gnb>ul>li:first-child{width: 360px;padding: 0;text-align: left; padding-right: 60px; }
#headerTop .gnb>ul>li:last-child>a{_background: tomato; background:#EF8A13;border-radius: 5px;}

#headerTop .gnb>ul>li>a{display: block; line-height: 27px; font-size: 16px;
            text-align: center ;color: white; font-weight: bold; }
#headerTop .gnb>ul>li:hover>a{_background:slateblue ; color: aqua;}   
/* #headerTop .gnb>ul>li:hover .gnb{background: white;} */


        /* .subWrap{height: 200px; background: #06929A;
            width: 100vw;
            position: absolute;left: 0;top: 50px; } */

        .submenu{background: white;position: absolute;top: -450%; right: 0; 
            width: 100% ;transition: 0.3s; padding: 15px 0;}   
        .gnb>ul:hover .submenu{top: 50px;}
        /* .gnb>ul>li:hover .submenu{top: 50px;} */    
            
        .submenu li{height: 40px;font-size: 15px; color: gray;}
        .submenu a{text-align: center;display: block ; line-height: 30px;font-size: 15px; 
            color: gray; }
        .submenu a:hover{background-color: rgb(226, 234, 236); color: navy;}        
        
        .submenu.time {padding: 30px 50px}
        .submenu.time li{height: 30px;}
        .submenu.time li:first-child{height: 30px;}
        .submenu.time i{font-size: 18px;font-weight: 500; }


      

        .toggle{display: none;}    
        
    
        .sliderWrap .sdrImg1, .sliderWrap .sdrImg2, .sliderWrap .sdrImg3{
            /* height: 100vh; */
            height: 1000px; 
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  }
     
        .sliderWrap .nextBtn,
        .sliderWrap .prevBtn
        {position: absolute;top:25%;
            transform:translateY(-50%); 
            cursor: pointer;}

      .sliderWrap .nextBtn{right: 30px;}
      .sliderWrap .prevBtn{left: 30px;}

        .bx-wrapper .bx-pager {
                    bottom: 350px;}

        .sliderWrap .bx-wrapper .bx-pager.bx-default-pager a
            { width: 14px; height: 14px; margin: 0 7px; outline: 0;
            -moz-border-radius: 7px; -webkit-border-radius: 7px;
            border-radius: 7px; }            
           
            
            
.contents{width: 1240px; position: absolute;left: 50%;
    transform:translateX(-50%);bottom: 0;
    border-radius: 10px;overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);}





.ticket img{display: none;}





.fWrap{width: 100%;height: 3px;background: #eee;}
#footer{width: 1240px;margin: 0 auto;height: 160px;padding: 20px 0 ;_background: skyblue;}

.fLeft{width: 320px;_background: beige;float: left;}

.fRight{width: 900px;float: right; _background: #eee;}
.fRight>li{float: left;}
.fRight a, .fRight p{color: rgb(128, 124, 124);}

.fRight>li:nth-child(2n){width: 160px;margin-bottom: 10px; _background: yellow;}
.fRight>li:nth-child(2n+1){width:740px;margin-bottom: 5px; _background: yellowgreen;}

.fmenu>li{float: left;padding: 10px 0 ;line-height: 20px;
         }
.fmenu>li>a{text-align: center;font-weight: bold;
            padding: 0 10px; border-right: 1px solid gray; }

.fmenu>li:first-child>a{padding-left: 0;}
.fmenu>li:last-child>a{border-right: none;}
.sns li{float: left;}
.info>p{text-align: left;}
.fBtn{border: 1px solid #ccc; border-radius: 5px; 
            color: gray; text-align: center;padding: 7px;}




            .subMenu{width: 1000px;position: absolute; left: 50%; transform: translateX(-50%); 
                bottom: 0; z-index: 1; }
            .subMenu {color: #444; display: block;font-size: 16px;font-weight: bold;}
            .subMenu>ul>li{float: left; 
                width: calc((100% - 6px) / 4) ; height: 60px; ;margin-right: 2px;
                background: rgb(204, 203, 203); padding: 16px;   text-align: center;
                /* margin-right: 2px; */
            }
        
        
        .subMenu>ul>li:last-child {margin-right: 0;}  
        
        .subMenu>ul>li:hover {color: white;} 
        
        







    }/* pc @media end */




@media screen and (max-width:699px){



 /* #header{background: #ddd;} */

 #headerTop{ padding:16px;z-index: 99999;
                position: fixed;width: 100%;
                display: flex;justify-content: space-between;align-items: center;
            }




 /*  toggle  click---------------- */
          
#headerTop .gnb li{margin-bottom: 25px; _background: skyblue;}
#headerTop .gnb li:last-child a{color :#EF8A13;}
#headerTop .gnb li:hover>a{_color:#06929A;color: aqua; ;}
#headerTop .gnb a {line-height: 40px;color: white;
    width: 200px;display: block; font-size: 1.5em;} 



.submenu{display: none;}            


 #headerTop .gnb{position: fixed;
    
            width: 100%;
            height: 70%;
            
            background-color: #11357A; 
            right:-100%; top: 0;   
                        /* right:0; top: -100%; */
                       /* left:0; top: -100%;    */
                        /* z-index: 1; 기능확인 다시추가하기 */  
                display: flex;justify-content: center;align-items: center;
                text-align: center;  transition: 0.3s;       }

#headerTop .gnb.view{ right: 0;}
/* #headerTop .gnb.view{ top: 0;} */

.gnb>ul>.logo{display: none;}
/* .gnb .logo{display: none;} */




/* #C1CEAC  #cfd8c1  */
#footer{width: 100%; _background-color:#cfd8c1;background-color: #11357A;    ;  height: 300px;padding: 70px 0 ;
       position: relative;transition: 0.3s;  }
#footer.view{position: fixed;width: 100%; height: 30%; bottom: 0; right: 0;
   background-color: #11357A; z-index: 22;   }
.fLeft h1{ display: none;}
.fLeft h2{position: absolute;left: 50%;transform: translateX(-50%);}
/* .fLeft h1{display:flex;justify-content: center;align-items: center;_height: 80%;} */
.fRight{position: relative;width: 100%; height: 100px;  right:0; bottom: -60px;
       _background: yellow; }

/* .fRight.view{position: fixed;width: 100%; height: 30%; bottom: 0; right: 0;
    background-color: yellow;  _background-color: #11357A; 
      } */
.sns{position: absolute;left: 50% ;transform: translateX(-50%);top: 30px;}
.sns li{width: 40px;height: 40px;float: left;}
/* .sns{position: fixed; left: -100%; } */
/* .sns.view { position: absolute;bottom: 130px ;right: 10% ;    } */
        




/* ******************** 토글토글액티브 */

    .toggle{display: block; }  
    .toggle{width: 40px;height: 40px; border: 2px solid white; border-radius: 5px; position: relative;z-index: 2;}
    .toggle div{position: absolute;width: 25px;height: 3px;
        border-radius: 2px;background: white;
        left: 50%;top: 50%; transform: translate(-50%, -50%);
        cursor: pointer;transition: 0.3s;}

    .toggle .bar1{top: 8px;}
    .toggle .bar3{top: 28px;}
    
    .toggle.active .bar1{top: 50%;transform: translate(-50%, -50%) rotate(45deg)}
    .toggle.active .bar2{opacity: 0;}
    .toggle.active .bar3{top: 50%;transform: translate(-50%, -50%) rotate(-45deg)}



        .sliderWrap .sdrImg1, .sliderWrap .sdrImg2, .sliderWrap .sdrImg3{
            height: 100vh;background-repeat: no-repeat; 
            background-position: center;background-size: cover;   } 

        .sliderWrap .prevBtn, .sliderWrap .nextBtn{
            display: none; }
        .bx-wrapper .bx-pager { bottom: 30px;}



 
 .sliderWrap .slideTxt{width: 600px;}
    .sliderWrap .slideTxt h1 {font-size: 30px;}
    .sliderWrap .slideTxt h2{font-size: 25px;line-height: 40px;}
    .sliderWrap .slideTxt h2:after{width: 200px;height: 3px;
           }




        
.contents{width: 100%;}
.contents>ul>li{width: 50%;height: 250px;}


.contents>ul>li:nth-child(3)
/* .contents>ul>li:nth-child(6) */
        {width: 100%;height: 250px;}
/* .contents>ul>li:nth-child(6)>a{width: 100%;height: 210px; } */

.slider2Wrap{width: 100%;height: 250px;}

.slider2Wrap .s2list div.left:after{
    border-style: solid;width: 60px;box-sizing: border-box;
    position: absolute;right: -60px;top: 75px;
}
/* 헤더컨텐츠 슬라이더 이미지조정 
 .slider2Wrap .s2list div.right img{transform: scale(1.3);transform-origin: 0 0;} 
  left에 por z-index: 1; 세모머리 안보이면*/

/* 
.contents>ul>li:nth-child(3){}.contents>ul>li:nth-child(4){}
.contents>ul>li:nth-child(5){}.contents>ul>li:nth-child(7){}
.contents>ul>li:nth-child(9){} 
/* .contents>ul>li:nth-child(1),.contents>ul>li:nth-child(2), */
/* .contents>ul>li:nth-child(3), */
.contents>ul>li:nth-child(6),.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(10),.contents>ul>li:nth-child(11),
.contents>ul>li:nth-child(12){display: none;}




.container{height: 800px;}
.container .section{width: 100%; padding: 0 20px;}
.container .vision li{width: calc(( 100% - 20px) / 2 );margin-bottom: 20px;
                height: 260px;  padding:45px 30px ;
                _background:#fff; 
                border-radius: 10px; border: 4px solid #91C1D4;
                              transition: 0.3s;              
                             }
.container .vision li:nth-child(2n){margin-right: 0;}
.container .card img {margin: 0 auto;_margin-bottom: 10px;}
.container .vision li .card_body p{display: none;}
.container .vision>li:hover{
    box-shadow: 5px 5px 10px rgba(122, 209, 212, 0.4);
               transform:translate(0,-15px);}




.main2{_margin-top: 20px; width: 100%;}

.main2>ul>li{width: 50%; float: left; height: 250px ;}
.liTxt{ text-align: left; padding: 40px;color: #333; }
.main2 img{width: 100%;height: 250px;}

/* .guide li{background: #6A96DB;}
.friends li{background: #C1CEAC ;} */
/* .guide li{background: #7a86b5;} */
/* .friends li{background: #A1AC90;} */



.ticket img{display: block;width: 100%;}


.conWrap, .main3, .fWrap .fmenu, .info, .fBtn, .time{display: none;}
/* .conWrap, .main3, .fRight, .test{display: none;} */
/* .fRight .sns{display: block !important;} */


/* #subHeader {width: 100%;} */
.subMain{width: 699px;}
.conArea img{width: 90%;margin: 0 auto;}



.subMenu{width: 100%; position: absolute; left: 50%; transform: translateX(-50%); 
    bottom: 0; z-index: 1; }
.subMenu {color: #444; display: block;font-size: 16px;font-weight: bold;}

.subMenu>ul>li{float: left; 
    width: calc((100% - 1px) / 2) ; height: 50px; ;margin-right: 1px;margin-bottom: 1px;
    background: rgb(204, 203, 203); padding: 14px;   text-align: center;
    /* margin-right: 2px; */
}



.subMenu>ul>li:nth-child(3), .subMenu>ul>li:nth-child(4) {margin-bottom: 0;}  
.subMenu>ul>li:nth-child(2n) {margin-right: 0;}  

.subMenu>ul>li:hover {color: white;} 

 
    }    /* mobile media */
















