@charset "utf-8";
.toggle{
    width: 35px;height: 35px;border: 1px solid #aaa;
        position: relative;cursor: pointer;display: none; }
.toggle div{
    width: 24px;height: 3px;background: #aaa;
    border-radius: 1.5px;
    position: absolute;left: 50%;
    margin-left: -12px; }

    .toggle div.bar1{top: 8px;}
    .toggle div.bar2{top: 50%;margin-top: -1.5px;}
    .toggle div.bar3{bottom: 8px;}

    .txt h3{font-size: 18px;}
    .txt p{font-size: 14px;}

    .cir:after{
        content: "";display: block;width: 24px;height: 2px;
        background-color: #fff;position: absolute;
        left: 50%;top: 50%;
        margin-left: -12px;margin-top: -1px;}
        
    .cir:before{
        content: ""; display: block;position: absolute;
        width: 2px;height: 24px;
        background-color: #fff;
        left: 50%;top: 50%;margin-left: -1px;margin-top: -12px;}

    /* common */
.mb5 {margin-bottom: 5px !important;}
.mb16{margin-bottom: 16px !important;}

/* 모바일버전 헤더에서는 탑랩 내브랩 디스플레이 넌 
로고와 햄버거버튼만 보이게 */
@media screen and (max-width:699px) {
   /* header  */
   #header {padding: 12px 16px; background: white;
            box-shadow: 0 10px 10px rgba(0,0,0,0.2); 
            position: relative;}
            /* por 있어야 새도우 보임 */
   #header .topWrap{display: none;}
   #header .navWrap{display: none;}
   .toggle{display: block;}
   #header .logWrap h1{float: left; font-size: 30px;line-height: 35px;}
   #header .logWrap .toggle{float: right;}
  
/* visual */
.visualWrap{
        background: #203b6a url(../images/visualbg01.png) no-repeat;
        background-size: cover; overflow: hidden;  }
.visualWrap .visual{height: 600px; padding: 16px;
                    padding-top: 50px; 
                    position: relative;}
.visualWrap .visual .visualTxt{font-size: 79px; font-weight: bold;
                                color: #fff;line-height: 70px;
                            text-shadow: 0 0 10px rgba(0,0,0,0.4);}
                           /* 박스 텍스트새도우 x값 y값 번짐값 투명도 */
.visualWrap .visual img{position: absolute;bottom: -40px;right: -25px; }



/* banner */
.banner{padding:16px}
.banner .bannerWrap li{
    float: left;width: 50%;padding: 20px;
    text-align: center;color: #fff;
}
.banner .bannerWrap li img{display: block;margin: 0 auto;margin-bottom: 10px;}
.banner .bannerWrap .txt p{display: none;}
.bannerWrap li:nth-child(1){display: none;}
.bannerWrap li:nth-child(2){background: #4F74A1;}
.bannerWrap li:nth-child(3){background: #4B8CE0;}
.bannerWrap li:nth-child(4){background: #3DB5F2;}
.bannerWrap li:nth-child(5){background:#95C8FF}


/* 810 content */
.content{padding: 0 16px; }
.content li{width: 100%;
        border-radius: 0 10px;overflow: hidden;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    position: relative;}
.content li img{width: 100%;}
.content .txt{padding: 18px 16px;}
.content .circle{
    width: 50px;height: 50px;background: #aaa;
    position: absolute;right: 16px;bottom: 25px;
    border-radius: 50%;}

.content li:last-child{display: none;}

/* .content .circle .bar1{width: 30px;height: 2px;
    background-color: #fff;position: absolute;
left: 50%;top: 50%;margin-left: -15px ; margin-top:-1px ;}

.content .circle .bar2{width: 2px;height: 30px;
    background-color: #fff;position: absolute;
    left: 50%;top: 50%;margin-left: -1px; margin-top: -15px;}  */

    .sec2st{padding: 16px;}
    .sec2st li{float: left; width: calc(( 100% - 10px ) / 2);
            border: 1px solid #ccc;
            border-radius: 10px; 
            position: relative;margin-right: 10px;}
    .sec2st li:nth-child(2n){margin-right: 0}
    .sec2st .txt{padding: 18px 16px; }
    .sec2st h3{margin-bottom: 10px;}
    .sec2st p{display: none;}
    .sec2st a{font-size: 14px; font-weight: bold; color: #1c84ff;}
    .sec2st img{position: absolute;right: 0;height: 100%;}


    /* footer mobile test */
    /* pc버전에서 980사이즈 삭제, 위치값 관련 스타일 조정, 버튼이미지 포지션fixed 위치값 */
    footer#footer{background-color: #5E5E5E;}
    .footWrap{background-color: #4D4D4D; height: 40px;}
    /* .footWrap>.foot{ width: 980px; margin: 0 auto;height: 40px;} */
    /* .footWrap>.foot>.fmenu{width: 420px; float: left;} */
    .footWrap>.foot>.fmenu>ul>li{float: left;width: calc(100% / 3);}
    .footWrap>.foot>.fmenu>ul>li>a{
        display: block;text-align: center;line-height: 20px;
        height:20px; padding: 10px 5px ; 
        color: white; font-size: 10px; letter-spacing: 70%;
        position: relative;}
    .footWrap>.foot>.fmenu>ul>li>a:hover{background-color: slateblue;}
    .fmenu>ul>li>a:after{
            content: "";width: 1px;height: 10px;display: block;
            background-color: white;
            position: absolute;top: 15px;right: 0;}
   .fmenu>ul>li:last-child>a:after{content: ""; display: none;} 
    /* .fmenu>ul>li:first-child>a{text-align: left !important;} */
    /* .foot img{float: right; width: 50px;height: 40px; display: block; } */
    .foot img{position: fixed;right:20px;bottom:50px;
                width: 50px;height: 40px; display: block; }
        
          
#footer>.info{ text-align: center; padding: 30px; color: white;}
#footer>.info>h3{ margin-bottom:20px;font: size 20px;}
#footer>.info>address{font-style: normal ; font-size: 12px; line-height: 18px; }
        } /* 왼쪽 미디어스크린 중괄호 주의! mobile */



@media screen and (min-width:700px){
    /* header */
    #header{min-width:980px}
    #header .topWrap{border-bottom: 1px solid #c4c4c4;}
    #header .top{width: 980px;margin: 0 auto}
    #header .util li{float: left;}
    #header .util li a{
        display: block;padding:0 10px;height: 26px;color:#888;
        font-size:14px;line-height:26px;position: relative;
    }
    #header .util li a:after{
        content:"";width: 1px;height: 10px;background: #c4c4c4;
        position: absolute;top:10px; right: 0;
    }
    #header .util li:last-child a:after{content:"";display: none;}
    #header .util{float: right;}

    #header .logWrap h1{width: 200px;text-align: center;margin: 0 auto;line-height: 60px;}

    #header .navWrap{background: #1D5DA4;}
    #header .gnb{width: 980px;margin: 0 auto;}
    #header .gnb li{float: left;width:calc(100% / 6);border-right: 1px solid #ddd;}
    #header .gnb li:first-child{border-left: 1px solid #ddd;}
    #header .gnb li a{display: block;text-align: center;line-height:40px;color:white;font-weight: bold;}
    #header .gnb li a:hover{background: rgb(3, 154, 241);}
    
    /* visual */
    .visualWrap{overflow: hidden;
            background: #203b6a url(../images/visualbg01.jpg) no-repeat center}
        
    .visualWrap .visual{width: 980px;height: 400px;margin: 0 auto;
                        position: relative;height: 400px;}
    .visualWrap .visual .visualTxt{
                        font-size: 79px;font-weight: bold;
                        line-height: 92px;
                        position: absolute; top: 50%;margin-top: -105px;
                        color: #fff;text-shadow: 0 0 10px rgba(0,0,0,0.4);}

    .visualWrap .visual img{position:absolute;right: 0; bottom: -40px; }


/* banner */
.banner .bannerWrap{width: 980px; margin: 0 auto;margin-bottom: 25px;}
.banner .bannerWrap li{
    float: left; width: calc(100%/5);
    color: #fff;
    padding: 20px 10px;text-align: center;}

.banner .bannerWrap li img{margin-bottom: 3px;}
.banner .bannerWrap li h3{font-size: 18px;margin-bottom: 5px;}
.banner .bannerWrap li p{font-size: 14px;letter-spacing: -1px;}

.bannerWrap li:first-child{height: 195px;} 
/* 하나만 사이즈 안맞아서 임의적으로 하나만 크기맞춤  */
.bannerWrap li:nth-child(1){background:#7C99B9}
.bannerWrap li:nth-child(2){background:#4F74A1}
.bannerWrap li:nth-child(3){background:#4B8CE0}
.bannerWrap li:nth-child(4){background:#3DB5F2}
.bannerWrap li:nth-child(5){background:#95C8FF}

/* content */
.content{width: 980px;margin: 0 auto;margin-bottom: 15px;}
.content li{float: left;width: 310px;margin-right: 25px;}
.content li:last-child{margin-right: 0;}
.content .txt{padding: 18px 16px;border: 1px solid #e5e5e5;
                border-top: 0 none;}
.content h3{font-size: 18px ;margin-bottom: 5px;}
.content p{font-size: 14px;}
.content img{display: block;}

.cir:before{display: none;}
.cir:after{display: none;}

/* content .sec2st */
.sec2st{width: 980px;margin: 0 auto;margin-bottom: 15px;}
.sec2st li{float: left;width: 310px;margin-right: 25px;
            border: 1px solid #e5e5e5;
            padding: 18px;
            position: relative;
            overflow: hidden;}
/* .sec2st li:last-child{margin-right: 0;} */
.sec2st li:nth-child(3){margin-right: 0;}
.sec2st li:last-child{display: none; }

.sec2st .txt{width: 150px;position: relative;}
.sec2st h3{font-size: 18px;margin-bottom: 13px;}
.sec2st p{font-size: 14px;margin-bottom: 13px;}
.sec2st a{font-size: 14px;color: #1c84ff;}
.sec2st img{position: absolute;right: -40px;top: 2px;}

/* footer test */
footer#footer{background-color: #5E5E5E;}
    .footWrap{background-color: #4D4D4D; height: 40px;}
    .footWrap>.foot{ width: 980px; margin: 0 auto;height: 40px;
                }
    
    .footWrap>.foot>.fmenu{width: 420px; float: left;}
    .footWrap>.foot>.fmenu>ul>li{float: left;width: 140px;}
    .footWrap>.foot>.fmenu>ul>li>a{
        display: block;text-align: center;line-height: 20px;
        height: 20px; padding: 10px 5px ; 
        color: white; font-size: 10px; letter-spacing: 70%;
        position: relative;}
    .footWrap>.foot>.fmenu>ul>li>a:hover{background-color: slateblue ;}

    .fmenu>ul>li>a:after{
            content: "";width: 1px;height: 10px;display: block;
            background-color: white;
            position: absolute;top: 15px;right: 0;}
    .fmenu>ul>li:last-child>a:after{content: ""; display: none;} 
    .fmenu>ul>li:first-child>a{text-align: left !important;}

       /* 메뉴사이 세로선 1) a:after로 만들고 poa위치값 2)border-right */

       .foot img{float: right; width: 50px;height: 40px; display: block; }
        
          
#footer>.info{margin: 0 auto; width: 980px; 
       height: 100px;padding: 15px; padding-left: 2px; color: white;
       position: relative;}
    #footer>.info>h3{width: 180px; float: left;
                position: absolute;top: 50%; margin-top: -15px;}
        /* #footer>.info>h3{float: left;} 없어도 왼쪽배치됨 
        위치값 poa top50퍼 없으면 h3과 어드레스 위치가 깨짐 */
#footer>.info>address{width: 800px; float: right;
               font-style: normal ; font-size: 12px; line-height: 18px; }
        

        } /* 왼쪽 미디어스크린 중괄호 주의!  pc */









